@import "colors/colors.css";

* {
    font-family: "JetBrains Mono";
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    border-radius: 2px;
    border: 1px solid @BASE_1;
    background-color: @BASE_0;
    color: @BASE_4;
}


/* SWAY WORKSPACES */

#workspaces {
    margin-left: 3px;
}

#workspaces button {
    color: @BASE_0;
    font-size: 12px;
    font-weight: bold;
    padding: 0 2px;
    margin: 3px 3px 3px 0;
    border: 1px solid @BASE_1;
    background-color: @BASE_3;
    border-radius: 2px;
}

#workspaces button.focused {
    color: @BASE_1;
    border-color: @CYAN_0;
    background-color: @CYAN_1;
}

#workspaces button.urgent {
    color: @BASE_1;
    border-color: @RED_0;
    background-color: @RED_1;
}


#mode {
    color: @BASE_1;
    background-color: @YELLOW_1;
    border: 1px solid @YELLOW_0;
    border-radius: 2px;
    padding: 0 7px;
    margin: 3px;
}

#window {
    color: @BASE_3;
    padding: 0 6px;
}

#tray,
#network,
#idle_inhibitor,
#custom-date,
#custom-battery,
#custom-backlight,
#custom-audio_input,
#custom-audio_output {
    border: 1px solid @BASE_2;
    border-radius: 2px;
    padding: 0 7px;
    margin: 3px;
    background-color: @BASE_1;
}

#network.disconnected {
    background-color: #f53c3c;
}

#idle_inhibitor.activated {
    color: @BASE_0;
    border: 1px solid @MAGENTA_0;
    background-color: @MAGENTA_1;
}

/* AUDIO */

#custom-audio_input.muted,
#custom-audio_output.muted {
    color: @BASE_0;
    border: 1px solid @YELLOW_0;
    background-color: @YELLOW_1;
}

#custom-audio_input.exceeded,
#custom-audio_output.exceeded {
    color: @BASE_0;
    border: 1px solid @RED_0;
    background-color: @RED_1;
}


/* BATTERY */

#custom-battery.full {
    color: @BASE_1;
    border: 1px solid @BLUE_0;
    background-color: @BLUE_1;
}

#custom-battery.charging {
    color: @BASE_1;
    border: 1px solid @GREEN_0;
    background-color: @GREEN_1;
}

#custom-battery.warning {
    color: @BASE_1;
    border: 1px solid @YELLOW_0;
    background-color: @YELLOW_1;
}

#custom-battery.critical {
    color: @BASE_1;
    border: 1px solid @RED_0;
    background-color: @RED_1;
}
